{% load static %}


<!--
<H3>Hello World<H3>


-->

<!DOCTYPE html>
<html>
<head>
	<title>Josh Savage</title>
	<link href="{% static '/css/main.css' %}" rel = "stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row"
			<div class="col-md-3" >
				<div class="card card-body h-100" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/me.jpg' %}" > 

					<hr>
					<h4>Hi, I'm Josh!</h4>
					<p>I love financial models and using new tools to become more efficient building them.</p>
				</div>
			</div>
			<br>
			<div class="col-md-9">
				<div class="card card-body h-100">
					<h4>First role in finance</h4>
					<hr>
					<p>I worked on valuation in a litigatory environment on the Island of Oahu.  I specialized in analyzing financials and building valuations using asset, income and market based approaches.</p>
					<p>I quickly grew from an analyst role to an associate role taking on an increased number of projects as well as started going to client meetings with the firm partners.</p>
					<p>Shortly after this I was headhunted for a valuation firm in American Fork Utah where I was able to work on mulitplicatively more projects.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
			
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
			
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
		</div>
	<br>
	</div>


</body>
</html>